html, body, #app {
  height: 100vh;
}

body {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  /*background-color: rgba(255, 255, 255, .4);*/
  background-color: transparent;
}

#dropform {
  display: flex;
  flex-direction: column;
  height: 100%;
}



#dropfolders {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.droprow {
  display: flex;
  flex: 1;
}

.dropfolder {
  flex: 1;
}

.drop-header, .drop-footer {
  height: 48px;
}

.drop-side {
  width: 48px;
}

.drop-main {
  display: flex;
  flex: 1;

}

.drop-area {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
}
